@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
    logs: false;
    themes: light, dark;
}

@plugin 'daisyui/theme' {
    name: 'dark';
    default: true;
    prefersdark: false;
    color-scheme: 'dark';
    --color-base-100: oklch(24.353% 0 0);
    --color-base-200: oklch(22.648% 0 0);
    --color-base-300: oklch(20.944% 0 0);
    --color-base-content: oklch(84.87% 0 0);
    --color-primary: oklch(41.703% 0.099 251.473);
    --color-primary-content: oklch(88.34% 0.019 251.473);
    --color-secondary: oklch(64.092% 0.027 229.389);
    --color-secondary-content: oklch(12.818% 0.005 229.389);
    --color-accent: oklch(67.271% 0.167 35.791);
    --color-accent-content: oklch(13.454% 0.033 35.791);
    --color-neutral: oklch(27.441% 0.013 253.041);
    --color-neutral-content: oklch(85.488% 0.002 253.041);
    --color-info: oklch(62.616% 0.143 240.033);
    --color-info-content: oklch(12.523% 0.028 240.033);
    --color-success: oklch(70.226% 0.094 156.596);
    --color-success-content: oklch(14.045% 0.018 156.596);
    --color-warning: oklch(77.482% 0.115 81.519);
    --color-warning-content: oklch(15.496% 0.023 81.519);
    --color-error: oklch(51.61% 0.146 29.674);
    --color-error-content: oklch(90.322% 0.029 29.674);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin 'daisyui/theme' {
    name: 'light';
    default: false;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97.466% 0.011 259.822);
    --color-base-300: oklch(93.268% 0.016 262.751);
    --color-base-content: oklch(41.886% 0.053 255.824);
    --color-primary: oklch(56.86% 0.255 257.57);
    --color-primary-content: oklch(91.372% 0.051 257.57);
    --color-secondary: oklch(42.551% 0.161 282.339);
    --color-secondary-content: oklch(88.51% 0.032 282.339);
    --color-accent: oklch(59.939% 0.191 335.171);
    --color-accent-content: oklch(11.988% 0.038 335.171);
    --color-neutral: oklch(19.616% 0.063 257.651);
    --color-neutral-content: oklch(83.923% 0.012 257.651);
    --color-info: oklch(88.127% 0.085 214.515);
    --color-info-content: oklch(17.625% 0.017 214.515);
    --color-success: oklch(80.494% 0.077 197.823);
    --color-success-content: oklch(16.098% 0.015 197.823);
    --color-warning: oklch(89.172% 0.045 71.47);
    --color-warning-content: oklch(17.834% 0.009 71.47);
    --color-error: oklch(73.092% 0.11 20.076);
    --color-error-content: oklch(14.618% 0.022 20.076);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
